.favourite-page {
    background-color: #FFF;
	border-radius: 10px;
    &-header {
        margin-left: 60px;
        display: flex;
        column-gap: 21px;
        align-items: center;
        &-title {
            font-weight: 700;
            font-size: 32px;
        }
        img {
            cursor: pointer;
            height: 35px;
            width: 35px;
        }
        
    }
}