.favourite-page {
    background-color: #FFF;
	border-radius: 10px;
   
    &-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 20px;
    }
}